<div class="add-employee">
    <div class="row mb-3">
       
        <label class="col-md-2">Full Name:</label>
        <input class="col-md-2" type="text" />
         <label class="col-md-2">Role:</label>
        <input class="col-md-2" type="text" />
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Email: </label>
        <input class="col-md-2" type="text" />
        <label class="col-md-2">Phone:</label>
        <input class="col-md-2" type="text" />
    </div>

    <div class="row mb-3">
        <label class="col-md-2">User Name:</label>
        <input class="col-md-2" type="text" />
        <label class="col-md-2">Password: </label>
        <input class="col-md-2" type="text" />
    </div>

    <div class="row mb-3 justify-content-left">
        <button class="col-md-2 btn btn-primary text-center" (click)="addEmployee()">Add a new employee</button>
    </div>
</div>