<div class="add-employee pb-3">
    <div class="row mb-3">
        <label class="col-md-2">First Name:</label>
        <input [(ngModel)]="newEmployeeData.firstName" class="col-md-3" type="text" />
        <label class="col-md-2">Last Name:</label>
        <input [(ngModel)]="newEmployeeData.lastName" class="col-md-3" type="text" />
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Email: </label>
        <input [(ngModel)]="newEmployeeData.email" class="col-md-3" type="text" />
        <label class="col-md-2">Phone:</label>
        <input [(ngModel)]="newEmployeeData.phone" class="col-md-3" type="text" />
    </div>

    <div class="row mb-3">
        <label class="col-md-2">User Name:</label>
        <input [(ngModel)]="newEmployeeData.userName" class="col-md-3" type="text" />
        <label class="col-md-2">Title:</label>
        <input [(ngModel)]="newEmployeeData.title" class="col-md-3" type="text" />
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Joining Date:</label>
        <input [(ngModel)]="newEmployeeData.joiningDate" class="col-md-3" type="text" />
        <label class="col-md-2">Project Status:</label>
        <input [(ngModel)]="newEmployeeData.projectStatus" class="col-md-3" type="text" />
    </div>
    
    <div class="row mb-3">
        <label class="col-md-2">Visa Status:</label>
        <input [(ngModel)]="newEmployeeData.visaStatus" class="col-md-3" type="text" /> &nbsp;&nbsp;
        <button class="col-md-2 btn btn-primary text-center" (click)="addEmployee()">Add a new employee</button>
    </div>

</div>